

	

	<div class="main-content">
		<div class="header-content">
			<div class="emp-detail-text">
				Employee Details<div class="emp-count"></div>
			</div>
			<a href="../pages/EmpPayroll_form.html" class="add-button">
			<img src="../assests/icons/add-24px.svg" alt="" /> Add User</a>
		</div>

		<div class="table-main">
			<table id="table-display" class="table">
				<tr>
					<th></th>
					<th>Name</th>
					<th>Gender</th>
					<th>Department</th>
					<th>Salary</th>
					<th>Start Date</th>
					<th>Actions</th>
				</tr>
				<tr>
					<td><img class="profile" alt="" src="../assets/profile-images/Ellipse -9.png"></td>
					<td>Amol</td>
					<td>Male</td>
					<td><div class='Dept-label'>Engineer</div></td>
					<td>50000</td>
					<td>21 May 2020</td>
					<td>
						<img id="1" onclick="remove(this)" alt="delete" src="../assets/icons/delete-black-18dp.svg">
						<img id="1" alt="edit" onclick="upgate(this)" src="../assets/icons/create-black-18dp.svg">
					</td> 
				</tr>
                <tr>
					<td><img class="profile" alt="" src="../assets/profile-images/Ellipse -1.png"></td>
					<td>Vani</td>
					<td>Female</td>
					<td><div class='Dept-label'>Engineer</div></td>
					<td>40000</td>
					<td>25 May 2021</td>
					<td>
						<img id="1" onclick="remove(this)" alt="delete" src="../assets/icons/delete-black-18dp.svg">
						<img id="1" alt="edit" onclick="upgate(this)" src="../assets/icons/create-black-18dp.svg">
					</td> 
				</tr>
                <tr>
					<td><img class="profile" alt="" src="../assets/profile-images/Ellipse -1.png"></td>
					<td>Varsha</td>
					<td>Female</td>
					<td><div class='Dept-label'>HR</div></td>
					<td>30000</td>
					<td>25 June 2021</td>
					<td>
						<img id="1" onclick="remove(this)" alt="delete" src="../assets/icons/delete-black-18dp.svg">
						<img id="1" alt="edit" onclick="upgate(this)" src="../assets/icons/create-black-18dp.svg">
					</td> 
				</tr>
                <tr>
					<td><img class="profile" alt="" src="../assets/profile-images/Ellipse -3.png"></td>
					<td>Chetan</td>
					<td>Male</td>
					<td><div class='Dept-label'>HR</div></td>
					<td>60000</td>
					<td>25 Jan 2021</td>
					<td>
						<img id="1" onclick="remove(this)" alt="delete" src="../assets/icons/delete-black-18dp.svg">
						<img id="1" alt="edit" onclick="upgate(this)" src="../assets/icons/create-black-18dp.svg">
					</td> 
				</tr>
                <tr>
					<td><img class="profile" alt="" src="../assets/profile-images/Ellipse -4.png"></td>
					<td>Priya</td>
					<td>Female</td>
					<td><div class='Dept-label'>Finance</div></td>
					<td>10000</td>
					<td>10 May 2020</td>
					<td>
						<img id="1" onclick="remove(this)" alt="delete" src="../assets/icons/delete-black-18dp.svg">
						<img id="1" alt="edit" onclick="upgate(this)" src="../assets/icons/create-black-18dp.svg">
					</td> 
				</tr>
                <tr>
					<td><img class="profile" alt="" src="../assets/profile-images/Ellipse -3.png"></td>
					<td>Santhosh</td>
					<td>Male</td>
					<td><div class='Dept-label'>HR</div></td>
					<td>60000</td>
					<td>1 March 2021</td>
					<td>
						<img id="1" onclick="remove(this)" alt="delete" src="../assets/icons/delete-black-18dp.svg">
						<img id="1" alt="edit" onclick="upgate(this)" src="../assets/icons/create-black-18dp.svg">
					</td> 
				</tr>
                <tr>
					<td><img class="profile" alt="" src="../assets/profile-images/Ellipse -9.png"></td>
					<td>Sumit</td>
					<td>Male</td>
					<td><div class='Dept-label'>Engineer</div></td>
					<td>50000</td>
					<td>10 April 2021</td>
					<td>
						<img id="1" onclick="remove(this)" alt="delete" src="../assets/icons/delete-black-18dp.svg">
						<img id="1" alt="edit" onclick="upgate(this)" src="../assets/icons/create-black-18dp.svg">
					</td> 
				</tr>
                <tr>
					<td><img class="profile" alt="" src="../assets/profile-images/Ellipse -10.png"></td>
					<td>Aishu</td>
					<td>Female</td>
					<td><div class='Dept-label'>Engineer</div></td>
					<td>20000</td>
					<td>10 Dec 2021</td>
					<td>
						<img id="1" onclick="remove(this)" alt="delete" src="../assets/icons/delete-black-18dp.svg">
						<img id="1" alt="edit" onclick="upgate(this)" src="../assets/icons/create-black-18dp.svg">
					</td> 
				</tr>
			</table>
		</div>
	</div>
	<script src="../js/new_home.js"></script>
	<script src="../js/utility.js"></script>
	<script src="../js/siteProperties.js"></script>
	<script src="../js/EmpPayroll.js"></script>

